/* src/app/app.component.css */

:host {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
}

router-outlet {
  display: block;
  padding: 16px;
}
